global_n2o_esrlctm_2001.txt filter=lfs diff=lfs merge=lfs -text
prepobs_errtable_ps.CTL filter=lfs diff=lfs merge=lfs -text
urma2p5_random_flips filter=lfs diff=lfs merge=lfs -text
global_hybens_info_variable.l64.txt filter=lfs diff=lfs merge=lfs -text
aeroinfo_fv3aero filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_1986.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1980.txt filter=lfs diff=lfs merge=lfs -text
global_satinfo.txt.2017031612 filter=lfs diff=lfs merge=lfs -text
nam_errtable.r3dv filter=lfs diff=lfs merge=lfs -text
nam_nmm_berror.f77 filter=lfs diff=lfs merge=lfs -text
radar_list filter=lfs diff=lfs merge=lfs -text
Rcov_iasiasea filter=lfs diff=lfs merge=lfs -text
nam_global_pcpinfo.txt filter=lfs diff=lfs merge=lfs -text
nam_global_satangbias.txt filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_2001.txt filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_1997.txt filter=lfs diff=lfs merge=lfs -text
nlqc_b_uv.rtma.chg295 filter=lfs diff=lfs merge=lfs -text
urma2p5.nlqc_b_t.njqc filter=lfs diff=lfs merge=lfs -text
Rcov_iasibland filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_2006.txt filter=lfs diff=lfs merge=lfs -text
global_ozinfo.txt filter=lfs diff=lfs merge=lfs -text
nam_mesonet_stnuselist.txt filter=lfs diff=lfs merge=lfs -text
urma2p5_regional_berror.f77 filter=lfs diff=lfs merge=lfs -text
Rcov_iasibsea filter=lfs diff=lfs merge=lfs -text
global_convinfo.txt.3hr_satwnd filter=lfs diff=lfs merge=lfs -text
nqc_b_ps.global_nqcf filter=lfs diff=lfs merge=lfs -text
urma2p5_errfield_with_mitm.dat_clim filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_1996.txt filter=lfs diff=lfs merge=lfs -text
urma2p5_prepobs_prep.bufrtable filter=lfs diff=lfs merge=lfs -text
global_hybens_info.l127.txt filter=lfs diff=lfs merge=lfs -text
urma2p5_slmask.dat_nolakes filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_2000.txt filter=lfs diff=lfs merge=lfs -text
global_co2.gcmscl_2005.txt filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_2004.txt filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_1993.txt filter=lfs diff=lfs merge=lfs -text
urma2p5_howv_lng_lat.bin filter=lfs diff=lfs merge=lfs -text
nam_CRTM_SpcCoeff.f77 filter=lfs diff=lfs merge=lfs -text
global_CRTM_TauCoeff.f77 filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_1998.txt filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_1999.txt filter=lfs diff=lfs merge=lfs -text
nam_regional_convinfo.txt filter=lfs diff=lfs merge=lfs -text
nqc_b_uv.global_nqcf filter=lfs diff=lfs merge=lfs -text
prepobs_errtable.hwrf filter=lfs diff=lfs merge=lfs -text
prepobs_errtable_q.global_nqcf filter=lfs diff=lfs merge=lfs -text
330urma2p5_howv_lng_lat.bin filter=lfs diff=lfs merge=lfs -text
urma2p5_fltnorm.dat_gust filter=lfs diff=lfs merge=lfs -text
global_convinfo.txt.2017071912 filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1986.txt filter=lfs diff=lfs merge=lfs -text
atms_beamwidth.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1979.txt filter=lfs diff=lfs merge=lfs -text
nlqc_b_ps.rtma.rev2 filter=lfs diff=lfs merge=lfs -text
rtma_nmm_berror.f77 filter=lfs diff=lfs merge=lfs -text
global_co2.gcmscl_2002.txt filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_2001.txt filter=lfs diff=lfs merge=lfs -text
rtma_wbinuselist filter=lfs diff=lfs merge=lfs -text
anavinfo_ndas_netcdf filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_1990.txt filter=lfs diff=lfs merge=lfs -text
prepobs_prep.bufrtable filter=lfs diff=lfs merge=lfs -text
rtma_prepobs_prep.bufrtable filter=lfs diff=lfs merge=lfs -text
urma2p5_fltnorm.dat_cldch filter=lfs diff=lfs merge=lfs -text
urma2p5_fltnorm.dat_wspd10m filter=lfs diff=lfs merge=lfs -text
global_CRTM_EmisCoeff.f77 filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_2007.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_2004.txt filter=lfs diff=lfs merge=lfs -text
global_satinfo.txt.2015111012 filter=lfs diff=lfs merge=lfs -text
prepobs_errtable_ps.global_nqcf filter=lfs diff=lfs merge=lfs -text
rtma_mesonet_uselist.txt filter=lfs diff=lfs merge=lfs -text
urma2p5.minT.grb1_0 filter=lfs diff=lfs merge=lfs -text
urma2p5_fltnorm.dat_psi filter=lfs diff=lfs merge=lfs -text
global_anavinfo.l64.txt filter=lfs diff=lfs merge=lfs -text
urma2p5_rd2.out_namnest_wexp_on_cohreswexp filter=lfs diff=lfs merge=lfs -text
urma2p5.nlqc_b_ps.njqc filter=lfs diff=lfs merge=lfs -text
urma2p5_fltnorm.dat_tcamt filter=lfs diff=lfs merge=lfs -text
urma2p5_t_night_rejectlist filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_1993.txt filter=lfs diff=lfs merge=lfs -text
anavinfo_gsdcld4nmmb filter=lfs diff=lfs merge=lfs -text
anavinfo_ndas_binary filter=lfs diff=lfs merge=lfs -text
comgsi_satbias_in filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_1992.txt filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_2009.txt filter=lfs diff=lfs merge=lfs -text
nqc_b_q.global_nqcf filter=lfs diff=lfs merge=lfs -text
urma2p5_errfield.dat_clim filter=lfs diff=lfs merge=lfs -text
500urma2p5_howv_lng_lat.bin filter=lfs diff=lfs merge=lfs -text
global_insituinfo.txt filter=lfs diff=lfs merge=lfs -text
rtma_q_day_rejectlist filter=lfs diff=lfs merge=lfs -text
urma2p5.nlqc_b_q.njqc filter=lfs diff=lfs merge=lfs -text
convinfo_gsdcld4nmmb filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_2005.txt filter=lfs diff=lfs merge=lfs -text
urma2p5.maxT.grb2_0 filter=lfs diff=lfs merge=lfs -text
anavinfo_nems_nmmb filter=lfs diff=lfs merge=lfs -text
nam_regional_satinfo.txt filter=lfs diff=lfs merge=lfs -text
nlqc_b_t.rtma.CTL filter=lfs diff=lfs merge=lfs -text
rtma_p_rejectlist filter=lfs diff=lfs merge=lfs -text
global_pcpinfo.txt filter=lfs diff=lfs merge=lfs -text
global_aeroinfo.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1993.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_2000.txt filter=lfs diff=lfs merge=lfs -text
rap_anavinfo_arw_netcdf filter=lfs diff=lfs merge=lfs -text
fv3_historical filter=lfs diff=lfs merge=lfs -text
vlocal_eig_l64.dat filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1996.txt filter=lfs diff=lfs merge=lfs -text
nlqc_b_q.rtma.CTL filter=lfs diff=lfs merge=lfs -text
prepobs_errtable.global filter=lfs diff=lfs merge=lfs -text
urma2p5.prepobs_errtable_ps.njqc filter=lfs diff=lfs merge=lfs -text
urma2p5_errtable.r3dv filter=lfs diff=lfs merge=lfs -text
hwrf_satinfo.txt filter=lfs diff=lfs merge=lfs -text
hwrf_hybens_d01_info filter=lfs diff=lfs merge=lfs -text
nam_satangbias.txt filter=lfs diff=lfs merge=lfs -text
urma2p5_anavinfo_mxtm filter=lfs diff=lfs merge=lfs -text
urma2p5_errfield_with_mxtm.dat_clim filter=lfs diff=lfs merge=lfs -text
anavinfo_hwrf_L75 filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_1996.txt filter=lfs diff=lfs merge=lfs -text
global_convinfo.txt filter=lfs diff=lfs merge=lfs -text
global_hybens_info_variable.l127.txt filter=lfs diff=lfs merge=lfs -text
nam_hybens_d01_info filter=lfs diff=lfs merge=lfs -text
prepobs_errtable_uv.CTL filter=lfs diff=lfs merge=lfs -text
urma2p5_fltnorm.dat_chi filter=lfs diff=lfs merge=lfs -text
urma2p5_latlon_mpfactor.dat filter=lfs diff=lfs merge=lfs -text
global_anavinfo.l127.txt filter=lfs diff=lfs merge=lfs -text
urma2p5.prepobs_errtable_uv.njqc filter=lfs diff=lfs merge=lfs -text
nlqc_b_uv.rtma.CTL filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1988.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1998.txt filter=lfs diff=lfs merge=lfs -text
nam_nmm_berror.f77.gcv filter=lfs diff=lfs merge=lfs -text
rap_berror_stats_global filter=lfs diff=lfs merge=lfs -text
rap_nam_regional_convinfo filter=lfs diff=lfs merge=lfs -text
anavinfo_cmaq_pm25 filter=lfs diff=lfs merge=lfs -text
global_CRTM_SpcCoeff.f77 filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_1989.txt filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_2008.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_2002.txt filter=lfs diff=lfs merge=lfs -text
nlqc_b_ps.rtma.CTL filter=lfs diff=lfs merge=lfs -text
rtma_parmcard_input filter=lfs diff=lfs merge=lfs -text
urma2p5_rd2.out_hrrr_on_cohreswexp_standby_mode_uses_lastest_HRRR_composed_1Nov2016 filter=lfs diff=lfs merge=lfs -text
anavinfo_arw_binary filter=lfs diff=lfs merge=lfs -text
global_convinfo.txt.2016031512 filter=lfs diff=lfs merge=lfs -text
global_satinfo.txt.2016020312 filter=lfs diff=lfs merge=lfs -text
urma2p5_fltnorm.dat_vis filter=lfs diff=lfs merge=lfs -text
global_co2.gcmscl_2008.txt filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_2003.txt filter=lfs diff=lfs merge=lfs -text
global_convinfo.txt.2018010512 filter=lfs diff=lfs merge=lfs -text
global_hybens_smoothinfo.l64.txt filter=lfs diff=lfs merge=lfs -text
nam_convinfo.txt filter=lfs diff=lfs merge=lfs -text
cloudy_radiance_info.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1985.txt filter=lfs diff=lfs merge=lfs -text
nam_nmmstat_na filter=lfs diff=lfs merge=lfs -text
urma2p5.minT.grb2_0 filter=lfs diff=lfs merge=lfs -text
urma2p5_anavinfo_mitm filter=lfs diff=lfs merge=lfs -text
urma2p5_anavinfo_with_cldch filter=lfs diff=lfs merge=lfs -text
urma2p5_fltnorm.dat_howv filter=lfs diff=lfs merge=lfs -text
global_CRTM_AerosolCoeff.f77 filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1983.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1995.txt filter=lfs diff=lfs merge=lfs -text
global_co2.gcmscl_2007.txt filter=lfs diff=lfs merge=lfs -text
Rcov_iasialand filter=lfs diff=lfs merge=lfs -text
global_co2.gcmscl_2004.txt filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_2009.txt filter=lfs diff=lfs merge=lfs -text
global_convinfo.txt.2014041400 filter=lfs diff=lfs merge=lfs -text
hwrf_hybens_d2_info filter=lfs diff=lfs merge=lfs -text
urma2p5_q_night_rejectlist filter=lfs diff=lfs merge=lfs -text
200urma2p5_howv_lng_lat.bin filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1991.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1994.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1984.txt filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_2006.txt filter=lfs diff=lfs merge=lfs -text
global_co2.gcmscl_2006.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1981.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_2008.txt filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_2005.txt filter=lfs diff=lfs merge=lfs -text
global_satinfo.txt filter=lfs diff=lfs merge=lfs -text
rtma_errtable.r3dv filter=lfs diff=lfs merge=lfs -text
rtma_t_day_rejectlist filter=lfs diff=lfs merge=lfs -text
urma2p5_fltnorm.dat_mxtm filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_2010.txt filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_1999.txt filter=lfs diff=lfs merge=lfs -text
global_co2.gcmscl_2009.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_2010.txt filter=lfs diff=lfs merge=lfs -text
global_satangbias.txt filter=lfs diff=lfs merge=lfs -text
hwrf_convinfo.txt filter=lfs diff=lfs merge=lfs -text
nam_satinfo.txt filter=lfs diff=lfs merge=lfs -text
prepobs_errtable_t.CTL filter=lfs diff=lfs merge=lfs -text
Rcov_crisnpp filter=lfs diff=lfs merge=lfs -text
global_lightinfo.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1997.txt filter=lfs diff=lfs merge=lfs -text
urma2p5_ruc2_wind-uselist-noMETAR_AUGMENTED.dat filter=lfs diff=lfs merge=lfs -text
anavinfo_fv3aero filter=lfs diff=lfs merge=lfs -text
anavinfo_rtma filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_1987.txt filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_2007.txt filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_2011.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_2011.txt filter=lfs diff=lfs merge=lfs -text
urma2p5.nlqc_b_uv.njqc filter=lfs diff=lfs merge=lfs -text
urma2p5.prepobs_errtable_pw.njqc filter=lfs diff=lfs merge=lfs -text
anavinfo_hwrf_L60_nooz filter=lfs diff=lfs merge=lfs -text
urma2p5_fltnorm.dat_ps filter=lfs diff=lfs merge=lfs -text
prepobs_errtable_uv.global_nqcf filter=lfs diff=lfs merge=lfs -text
urma2p5.prepobs_errtable_t.njqc filter=lfs diff=lfs merge=lfs -text
nam_glb_berror.f77.gcv filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_1991.txt filter=lfs diff=lfs merge=lfs -text
aeroinfo_aod.txt filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_1995.txt filter=lfs diff=lfs merge=lfs -text
urma2p5_mesonet_uselist.txt filter=lfs diff=lfs merge=lfs -text
anavinfo_fv3_65 filter=lfs diff=lfs merge=lfs -text
urma2p5.maxT.grb1_0 filter=lfs diff=lfs merge=lfs -text
urma2p5.prepobs_errtable_wspd10m.njqc filter=lfs diff=lfs merge=lfs -text
Big_Endian filter=lfs diff=lfs merge=lfs -text
hwrf_basinscale_satinfo.txt filter=lfs diff=lfs merge=lfs -text
rtma_t_rejectlist filter=lfs diff=lfs merge=lfs -text
urma2p5_bigrjlist.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_2003.txt filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_1995.txt filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_2003.txt filter=lfs diff=lfs merge=lfs -text
global_satinfo.txt.2016011912 filter=lfs diff=lfs merge=lfs -text
nam_glb_berror.f77 filter=lfs diff=lfs merge=lfs -text
rap_ndas.t06z.satbias.tm03 filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_1985.txt filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_2002.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1978.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1989.txt filter=lfs diff=lfs merge=lfs -text
rtma_t_night_rejectlist filter=lfs diff=lfs merge=lfs -text
anavinfo_wrfchem_pm25 filter=lfs diff=lfs merge=lfs -text
global_hybens_smoothinfo.l127.txt filter=lfs diff=lfs merge=lfs -text
global_scaninfo.txt filter=lfs diff=lfs merge=lfs -text
prepobs_errtable.global.3hr_satwnd filter=lfs diff=lfs merge=lfs -text
urma2p5_rd2.out_hrrr_on_cohreswexp filter=lfs diff=lfs merge=lfs -text
urma2p5_terrain.dat filter=lfs diff=lfs merge=lfs -text
comgsi_satbias_pc_in filter=lfs diff=lfs merge=lfs -text
global_convinfo.txt.2013041500 filter=lfs diff=lfs merge=lfs -text
rtma_q_night_rejectlist filter=lfs diff=lfs merge=lfs -text
urma2p5_howv_var_lat.bin filter=lfs diff=lfs merge=lfs -text
urma2p5_t_day_rejectlist filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_1992.txt filter=lfs diff=lfs merge=lfs -text
anavinfo_cmaq_binary filter=lfs diff=lfs merge=lfs -text
global_anavinfo_allhydro.l64.txt filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_1988.txt filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_1998.txt filter=lfs diff=lfs merge=lfs -text
nam_mesonet_uselist.txt filter=lfs diff=lfs merge=lfs -text
nam_nmmstat_na_glberror.gcv filter=lfs diff=lfs merge=lfs -text
prepobs_errtable_pw.global filter=lfs diff=lfs merge=lfs -text
anavinfo_arw_netcdf filter=lfs diff=lfs merge=lfs -text
rtma_ruc2_wind-uselist-noMETAR.dat filter=lfs diff=lfs merge=lfs -text
urma2p5_anavinfo filter=lfs diff=lfs merge=lfs -text
prepobs_errtable_t.global_nqcf filter=lfs diff=lfs merge=lfs -text
global_convinfo_reg_test.txt filter=lfs diff=lfs merge=lfs -text
global_hybens_info.l64.txt filter=lfs diff=lfs merge=lfs -text
global_satinfo.txt.2016090912 filter=lfs diff=lfs merge=lfs -text
hwrf_nam_errtable.r3dv filter=lfs diff=lfs merge=lfs -text
nam_CRTM_TauCoeff.f77 filter=lfs diff=lfs merge=lfs -text
nam_regional_convinfo_reg_test.txt filter=lfs diff=lfs merge=lfs -text
rap_global_ozinfo.txt filter=lfs diff=lfs merge=lfs -text
anavinfo_fv3 filter=lfs diff=lfs merge=lfs -text
urma2p5.prepobs_errtable_q.njqc filter=lfs diff=lfs merge=lfs -text
rtma_convinfo.txt filter=lfs diff=lfs merge=lfs -text
urma2p5_fltnorm.dat_mitm filter=lfs diff=lfs merge=lfs -text
rap_nam_errtable.r3dv filter=lfs diff=lfs merge=lfs -text
global_anavinfo_clrsky.l64.txt filter=lfs diff=lfs merge=lfs -text
global_anavinfo_ozonly.l64.txt filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_1997.txt filter=lfs diff=lfs merge=lfs -text
bufrtab.012 filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_2011.txt filter=lfs diff=lfs merge=lfs -text
global_co2.gcmscl_2003.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1987.txt filter=lfs diff=lfs merge=lfs -text
urma2p5_fltnorm.dat_pseudorh filter=lfs diff=lfs merge=lfs -text
anavinfo_fv3_64 filter=lfs diff=lfs merge=lfs -text
rap_current_bad_aircraft.txt filter=lfs diff=lfs merge=lfs -text
rtma_random_flips filter=lfs diff=lfs merge=lfs -text
urma2p5_q_day_rejectlist filter=lfs diff=lfs merge=lfs -text
global_co2.gcmscl_2012.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1982.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1999.txt filter=lfs diff=lfs merge=lfs -text
global_satinfo.txt.2016110812 filter=lfs diff=lfs merge=lfs -text
rtma_w_rejectlist filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_2010.txt filter=lfs diff=lfs merge=lfs -text
global_CRTM_CldCoeff.f77 filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_1984.txt filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_1991.txt filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_1994.txt filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_1994.txt filter=lfs diff=lfs merge=lfs -text
prepobs_errtable_ps.rev2 filter=lfs diff=lfs merge=lfs -text
urma2p5_convinfo.txt filter=lfs diff=lfs merge=lfs -text
anavinfo_wrfchem_gocart filter=lfs diff=lfs merge=lfs -text
anavinfo_hwrf_L60 filter=lfs diff=lfs merge=lfs -text
example_unformatted_fileinfo.txt filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_2008.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_2005.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_2006.txt filter=lfs diff=lfs merge=lfs -text
rap_global_satangbias.txt filter=lfs diff=lfs merge=lfs -text
anavinfo_aod_gocart filter=lfs diff=lfs merge=lfs -text
VLabRepoQuickTips.txt filter=lfs diff=lfs merge=lfs -text
anavinfo_arw_netcdf_glbe filter=lfs diff=lfs merge=lfs -text
global_co2.gcmscl_2010.txt filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_2002.txt filter=lfs diff=lfs merge=lfs -text
global_convinfo.txt.2018022818 filter=lfs diff=lfs merge=lfs -text
nam_global_ozinfo.txt filter=lfs diff=lfs merge=lfs -text
prepobs_errtable_q.CTL filter=lfs diff=lfs merge=lfs -text
Rcov_crisn20 filter=lfs diff=lfs merge=lfs -text
urma2p5_wbinuselist filter=lfs diff=lfs merge=lfs -text
rtma_q_rejectlist filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_2009.txt filter=lfs diff=lfs merge=lfs -text
hwrf_hybens_d3_info filter=lfs diff=lfs merge=lfs -text
prepobs_errtable_uv.rev3 filter=lfs diff=lfs merge=lfs -text
rap_global_pcpinfo.txt filter=lfs diff=lfs merge=lfs -text
rap_global_satinfo.txt filter=lfs diff=lfs merge=lfs -text
vlocal_eig_l127.dat filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1992.txt filter=lfs diff=lfs merge=lfs -text
global_co_esrlctm_2000.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_1990.txt filter=lfs diff=lfs merge=lfs -text
nqc_b_t.global_nqcf filter=lfs diff=lfs merge=lfs -text
rtma_mesonet_vis_uselist.txt filter=lfs diff=lfs merge=lfs -text
anavinfo_nems_nmmb_glb filter=lfs diff=lfs merge=lfs -text
global_co2.gcmscl_2011.txt filter=lfs diff=lfs merge=lfs -text
global_n2o_esrlctm_2007.txt filter=lfs diff=lfs merge=lfs -text
global_satinfo.txt.2017030812 filter=lfs diff=lfs merge=lfs -text
global_ch4_esrlctm_2004.txt filter=lfs diff=lfs merge=lfs -text
urma2p5_rd2.out_namnest_wexp_on_cohreswexp_standby_mode_uses_new_NAM_composed_1Nov2016 filter=lfs diff=lfs merge=lfs -text
urma2p5_fltnorm.dat_t filter=lfs diff=lfs merge=lfs -text
Big_Endian/global_berror.l64y130.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/global_berror.l64y258.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/global_berror.l64y386.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_t filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_wspd10m filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_mitmwter filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_twter filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_uwnd10mwter filter=lfs diff=lfs merge=lfs -text
Big_Endian/cmaq_pm2_5_reg_berror_12z.bin filter=lfs diff=lfs merge=lfs -text
Big_Endian/global_berror.l64y578.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/global_berror.l64y770.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_ps filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_pswter filter=lfs diff=lfs merge=lfs -text
Big_Endian/global_berror.l127y194.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/global_berror.l64y1154.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_pseudorh filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_regional_nmm_berror.f77.gcv filter=lfs diff=lfs merge=lfs -text
Big_Endian/global_berror.l127y770.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/global_berror.l64y96.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/nam_nmmstat_na.gcv filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_td2mwter filter=lfs diff=lfs merge=lfs -text
Big_Endian/global_berror.l63y386.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_pmsl filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_sfwter filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_wspd10mwter filter=lfs diff=lfs merge=lfs -text
Big_Endian/fv3aero_berror.l64y194.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_conus_terrain.dat filter=lfs diff=lfs merge=lfs -text
Big_Endian/global_berror.l64y674.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/global_berror.l64y98.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_cldch filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_gustwter filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_psi filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_vwnd10m filter=lfs diff=lfs merge=lfs -text
Big_Endian/global_berror.l64y290.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_qwter filter=lfs diff=lfs merge=lfs -text
Big_Endian/global_berror.l127y98.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_chi filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_mxtm filter=lfs diff=lfs merge=lfs -text
Big_Endian/wrf_chem_berror_big_endian filter=lfs diff=lfs merge=lfs -text
Big_Endian/global_berror.l127y386.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_vpwter filter=lfs diff=lfs merge=lfs -text
Big_Endian/nam_glb_berror.f77.gcv filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_gust filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_mxtmwter filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_td2m filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_vis filter=lfs diff=lfs merge=lfs -text
Big_Endian/cmaq_berror_big_endian filter=lfs diff=lfs merge=lfs -text
Big_Endian/global_berror.l64y192.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/global_berror.l64y194.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_howv filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_tcamt filter=lfs diff=lfs merge=lfs -text
Big_Endian/global_berror.l64y882.f77 filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_conus_slmask.dat filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_mitm filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_uwnd10m filter=lfs diff=lfs merge=lfs -text
Big_Endian/rtma_fltnorm.dat_vwnd10mwter filter=lfs diff=lfs merge=lfs -text
Big_Endian/urma2p5_fltnorm.dat_wspd10m filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_satinfo.txt.2016011912 filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_satinfo.txt.2017030812 filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_satinfo.txt.2017031612 filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_satinfo.txt.2017103118 filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_convinfo.txt.2014041400 filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_convinfo.txt.2016031512 filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_convinfo.txt.2018010512 filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_satinfo.txt.2015011412 filter=lfs diff=lfs merge=lfs -text
fv3_historical/0readme.ozinfo filter=lfs diff=lfs merge=lfs -text
fv3_historical/0readme.satinfo filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_satinfo.txt.2016090912 filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_satinfo.txt.2018021212 filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_ozinfo.txt.2018110700 filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_satinfo.txt.2015070218 filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_satinfo.txt.2015111012 filter=lfs diff=lfs merge=lfs -text
fv3_historical/0readme.convinfo filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_convinfo.txt.2017071912 filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_convinfo.txt.2018022818 filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_ozinfo.txt.2015110500 filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_satinfo.txt.2015100118 filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_satinfo.txt.2016020312 filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_satinfo.txt.2016110812 filter=lfs diff=lfs merge=lfs -text
fv3_historical/global_satinfo.txt.2018053012 filter=lfs diff=lfs merge=lfs -text
